.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue";
    margin: 0;
}


@media screen and ( max-width: 600px ){
    
    .wrapper{
        position: relative;
        transition: left 0.5s;
        left: 0;
    }
    
    /* START SLIDING ANIMATION */
    /*.wrapper.cat_nav_state .main_navigation{
        left: 80%;
    }

    .wrapper.sub_nav_state .main_navigation{
        left: 160%;
    }*/

    /* STOP SLIDING ANIMATION */

    
    /*START OVERLAY ANIMATON*/
    .wrapper.cat_nav_state .main_navigation,
    .wrapper.sub_nav_state .main_navigation{
        right: 20%;
    }

    .wrapper.sub_nav_state .sub_nav{
        right: 0;
    }
    /*STOP OVERLAY ANIMATON*/

    .main_navigation{
        background: red;
        display: block;
        position: absolute;
        top: 0;
        width: 80%;
        right: 100%;
        bottom: 0;
        transition: right 0.5s;
    }

    .sub_nav{
        background: blue;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        right: 100%;
        bottom: 0;
        transition: right 0.5s;
    }
}













